body {
    background-image: url(../../image/Lovepik_com-400061427-texture-background-of-cold-color-system.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
}

div.container {
    width: 800px;
    height: 400px;
    position: absolute;
    margin-top: 12%;
    margin-left: 18%;
    display: flex;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 10px 0px grey;
}

.navbar {
    background-color: rgb(26, 26, 26);
    width: 270px;
    border-radius: 10px;
}

.content {
    background-color: rgb(0, 0, 0);
    width: 500px;
    border-radius: 10px;
}

.nav {
    background-color: rgb(101, 199, 255);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 20px 55px;
}

.nav img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5px;
}

.navbar ul {
    display: grid;
    justify-content: center;
}

.navbar ul li {
    list-style: none;
    background-color: rgb(95, 94, 94);
    text-align: center;
    margin-right: 42px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 20px;
    width: 210px;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 19px;
}

.navbar h1 {
    text-align: center;
    color: aliceblue;
    margin-top: -15px;
}

.navbar p {
    text-align: center;
    color: aliceblue;
    margin-top: -20px;
}

.content h3 {
    color: aliceblue;
    margin-bottom: -20px;
}

.content h1 {
    color: aliceblue;
    margin-bottom: -10px;
}

.content h1 span {
    color: rgb(101, 199, 255);
    margin-bottom: -10px;
}

.content p {
    color: aliceblue;
}

.content {
    margin-top: 110px;
    margin-left: 50px;
    margin-right: 60px;
}

.any {
    background-color: rgb(0, 0, 0);
    color: rgb(101, 199, 255);
    border-radius: 20px;
    text-align: center;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
}

.any a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}